// *************************************
//
// Button
// -> All buttons
//
// *************************************
.button{
  background: #0AC74B;
  border:1px solid #fff;
  color: #fff;
  text-decoration: none;
  padding:5%;
  float: right;

    color: #fff;
    text-decoration: none;

}
.gform_button {
  .button{
    background: #0AC74B;
    border:1px solid #fff;
    color: #fff;
    text-decoration: none;
    padding:5%;
    float: right;
  }
  
}
.gform_button:hover{
  .button{
    background:#fff;
    color:#0AC74B;
    border: 1px solid #0AC74B;
    text-decoration: none;
  }
}

.button:hover{
  background:#fff;
  color:#0AC74B;
  border: 1px solid #0AC74B;
    color:#0AC74B;
    text-decoration: none;
}

.gform_button{
  padding-top:2% !important;
  padding-bottom:2% !important;
}
.Button {
    display: inline-block;
    font-weight: bold;
    padding: rem(10px) rem(5px);  
    &:hover {
      text-decoration: none;
    }
}
.Socket-content{
 .button{
   float: none;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Default ----- //

.Button--default {
  color: $c-white;
  fill: $c-white;
}

// ----- Brand ----- //

.Button--brand {
  color: $c-white;
  fill: $c-white;
  background: $c-blue;
} 

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
