.Footer {
	h6{
		margin:2% 0 0 0;
	}
}

// RESPONSIVE FOOTER
.Footer-inner .widget {
	@include span-columns(4);
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

.Footer-inner {
}

//style the widgets
.Footer-inner .widget {
	@include span-columns(4);
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}
.Socket{
	background: #0AC74B;
	margin-top:1%;
	h4{
		color:#fff;
		width:93%;
		margin: 0 auto;
		margin-top: 3%;
		margin-bottom: 2%;
	}
	p{
	 		text-align: center;
	 	}
}

.Socket-content{
	margin: 0 auto;
	margin-bottom:3%;
	width:25%;
	button{
		border:1px #fff solid;
		margin-right:5%;
	}
}
.footer-nav{
	background:#393939;
	a{
		color:#8A8989 !important; 
	}
	a:hover{
      color: #fff !important;
      background-color:#393939 !important;
    }
    a.is-active{
    	background-color:#393939 !important;
    	color:#fff!important;
    }
}
//---------------------------------------------responsive--------------------------------------------------//
@media all and (max-width: 768px) {
 	.Socket {
	 	h4{
	 		text-align: center;
	 	}
	 	p{
	 		text-align: center;
	 	}
	 }
 	.Socket-content{
 		width: 33%;
 	}
}
@media all and (max-width: 667px) {
    .Socket-content{
    	width: 42%;
    }
  }
@media all and (max-width: 600px) {
 	.Socket-content{
 		width: 40%;
 	}
}
@media all and (max-width: 480px) {
	.Socket-content{
		width:50%;
	}
	.Socket{
		h4{
			font-size: 17px;
		}
	}
}
@media all and (max-width: 240px) {
  .Socket{
  	h4{
  		font-size: 13px !important;
  	}
  }
  .Socket-content{
  	width: 100%;
  }
}
