// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-image: url("../img/img-header-bg.png");
  background-size: cover;
}
.header-top{
  background-color:#393939;
}
.header-top-in{
 padding-bottom:1%;
}
.header-top-in-tekst{
  margin:3% 0 0 0;
}
.header-top-in-tekst-logo{
  display: inline;
    a{
      color: #0AC74B;
      text-decoration: none;
    }
}
.header-top-in-tekst-phone{
  display: inline;
  color: #fff;
  margin-left: 25.5%; 
}
.header-top-in-tekst-img{
margin: 0 0 -6% 0;
right: 0;
float: right;
}
.header-bottom{
 background:url("../img/background-willem.jpg");
 background-size:100%;
 height: 333px;
}
.header-bottom-in{

}
// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}
//---------------------------------------------responsive--------------------------------------------------//

@media all and (max-width: 768px) {
  .header-top-in-tekst-img{
    width: 9% ;
  }
}
@media all and (max-width: 667px) {
    .Navigation a{
      font-size: 13px;
    }
  }

@media all and (max-width: 600px) {
  .header-top-in-tekst-img{ display: none; }
  .header-top-in-tekst-phone{ margin-left: 9.5%; }
}

@media all and (max-width: 480px) {
  .header-top-in-tekst-logo{
   font-size: 20px;
  }
   .header-top-in-tekst-phone{
      font-size: 20px;
      margin-left: 5% ;
    }
}

@media all and (max-width: 384px) {
  .header-top-in-tekst-logo{
    font-size: 18px;
  }
  .header-top-in-tekst-phone{
    font-size: 18px;
    margin-left: 5% ;
  }
}
@media all and (max-width: 320px) {
  .header-top-in-tekst-phone{
    display: block;
    margin:0;
  }
}
@media all and (max-width: 240px) {
  .header-top-in-tekst-logo{
    font-size: 15px;
  }
  .header-top-in-tekst-phone{
    font-size: 15px;
    margin:0;
  }
}
