// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  text-align: left;
 
  a{
    color:#fff;
    padding:1% 2%;
    margin: 0;
  }
   a:hover{
      background-color: #fff;
      padding:1% 2%;
      color: #0AC74B;
      text-decoration: none;
    }
  a.is-active{
     background-color: #fff;
      padding:1% 2%;
      color: #0AC74B;
      text-decoration: none;
  }
}


// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// ------------ -------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
    color: #393939;
    background-color: #fff;
}
.Navigation-link :hover {
  
}
// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //
.Navigation-list{
  margin:4% 0 0 0;
}
.Navigation-listItem {
  display: inline;
  margin: 0;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}
